<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	">
	
	<context:annotation-config />
	<context:component-scan base-package="ng.nifemi.iamcore.storage"/>

	<bean id="fakeIdentity" class="ng.nifemi.iamcore.person.Identity">
		<constructor-arg><value>Thomas Broussard</value></constructor-arg>
		<constructor-arg><value>thomas.broussard@gmail.com</value></constructor-arg>
		<constructor-arg><value>1234-09-09</value></constructor-arg>
	</bean>
	
	<bean id="fakeId" class="ng.nifemi.iamcore.person.Identity">
		<property name="fullName"><value></value></property>
		<property name="email"><value></value></property>
		<property name="birthDate"><value></value></property>
	</bean>
	
	<bean id="mySessionFactory"
	    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="configLocation">
	        <value>
	            classpath:hibernate.cfg.xml
	        </value>
	    </property>
	</bean>
	
	<import resource="configurationContext.xml"/>
</beans>