<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="mySessionFactory">
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.url">jdbc:derby:/home/nifemi/iam2;create=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    	
    	
    	<property name="hibernate.show_sql">true</property>
		
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		
		<mapping class="ng.nifemi.iamcore.person.Identity"/>
		<mapping class="ng.nifemi.iamcore.person.Address"/>
		<mapping class="ng.nifemi.iamcore.person.User"/>		
		<!-- <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property> 
			<property name="hibernate.connection.password">root</property> <property 
			name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property> 
			<property name="hibernate.connection.username">root</property> <property 
			name="hibernate.dialect">org.hibernate.dialect.</property> <property name="hibernate.show_sql">true</property> 
			<property name="hibernate.hbm2ddl.auto">update</property> <mapping class="ng.nifemi.iamcore.person.Identity"/> -->
	</session-factory>
</hibernate-configuration>
